.conteiner {
	margin: 0px auto;
	width: 1060px;
	height: 1000px;
	background: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.image {
	padding-top: 50px;
	padding-left: 46px;
	padding-bottom: 40px;
}

.headermenu {
	margin-left: 46px;
	margin-bottom: 40px;
	width: 966px;
	height: 40px;
	background: linear-gradient(to top, #5e5e5e, #454444);
	font-family: sans-serif;
}

.headermenu li {
	width: 100px;
	line-height: 40px;
	padding-left: 40px;
	display: inline-block;
	color: white; 
}

.headermenu li:first-child {
	width: 144px;
	padding-left: 24px;
}

.headermenu li:nth-child(2) {
	width: 50px;
	padding-left: 24px;
	padding-right: 24px;
}

.headermenu li:hover {
	cursor: pointer;
	background: linear-gradient(to top ,#4a4a4a, #2e2e2e);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	transition: background .2s ease-in-out 1s; 
}

.leftmenu {
	margin-left: 46px;
	width: 264px;
	height: 245px;
	line-height: 40px;
	border: 1px solid #c8c8c8; 
	color: #656363;
	font-size: 14px;
	font-family: monospace;
}

.leftmenu li {
	color: #656363;
	padding-left: 24px;
	border-bottom: 1px solid #c8c8c8;
}

.leftmenu li:last-child {
	border-bottom:none;
}

.leftmenu li:hover {
	cursor: pointer;
	padding-left: 22px;
	background: #f9f9f9;
	color: #2c2c2c;
	transition: background, padding-left .25s ease-in-out; 
}

.content {
	margin-top: -247px;
	margin-right: 46px;
	margin-bottom: 100px;
	float: right;
	width: 650px;
	height: 450px;
	border: 1px solid #c8c8c8;
	line-height: 1.7;
	color: #2c2c2c;
	font-family: arial;
}

.contentimg {
	width: 650px;
	height: 400px;
	margin-bottom: 80px;
}
.fotter{
	position: absolute;
	margin-top: 430px;
	margin-left: 46px;
	width: 966px;
	height: 40px;
	background: #e1e1e1;
	color: #2c2c2c;
}

.fotter li {
	width: 100px;
	line-height: 40px;
	padding-left: 38px;
	display: inline-block;
	font-family: arial;
}

.fotter li:hover {
	cursor: pointer;
	text-decoration: underline; 
	transition: text, .2s, ease-in-out; 
}

.fotter li:last-child {
	float: right;
	width: 200px;
}

.fotter li:last-child:hover {
	text-decoration: none; 
	cursor: default;
}
